.base{
    display: flex;
    flex-flow: column nowrap;

    input{
        margin: 0 5px;
    }
}

.base-controls{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    button{
        padding-left: 0;
        padding-right: 0;
    }
}

div.wrapper{
    @extend .base;
    
    .controls{
        @extend .base-controls;
        margin: 0;

        button{
            width: 25%;
            margin: 0 1rem;
          
        }
    }

}


div.update{
    @extend .base;

    .controls{
        @extend .base-controls;
        margin-top: 1rem;

        button{
            width: 50%;
            margin: 0 1rem;
        }
    }

}