@use '/public/stylesheets/base';
@use '/public/stylesheets/mixins' as *;

.no-mar-pad{
    margin: 0;
    padding: 0;
}

div.wrapper{
    @extend .no-mar-pad;
    background-color: base.$background-tertiary;
    padding: 7px;
    border: base.$border;
    max-width: 25rem;

    &>*{
        margin: 0.5rem 0;
    }

    ul.tasks{
        @extend .no-mar-pad;
        list-style: none;
        padding: 0;

        li.task{
            margin: 0.25rem 0;
        }
    }

    .controls-basic{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        padding: 5px;
        background-color: base.$background-secondary;

        button{
            width: 95%;
            margin: 0.25rem 0;
            padding: 0.6rem 0;
        }

        @include md{
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 0.25rem 0;
            padding: 5px;
    
            button{
                width: 28%;
                padding: 0.6rem 0;
            }
        }

    }

    .filters{
        @extend .controls-basic;
        flex-wrap: wrap;

        input{
            width: 91%;
            height: 2rem;
            margin: 0.25rem auto;

            @include md{
                width: 100%;
            }
        }
    }
    
    div.controls{
        @extend .controls-basic;
    }
    
    div.form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        padding: 0.5rem 0;
        background-color: base.$background-secondary;
        
        p{
            font-size: 1.5rem;
        }
    
        .add{
            width: 50%;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }
}

