@use '../../../public/stylesheets/base';

div.task-add-form{
    display: flex;
    flex-flow: column nowrap;
    background-color: base.$background-secondary;
    padding: 0 1rem;
    
    p{
        font-size: 20px;
    }
}

