@use '/public/stylesheets/base';
@use '/public/stylesheets/mixins' as *;

.wrapper{
    display: block;
    background-color: base.$background-secondary;
    align-items: center;
    justify-content: center;
    border: base.$border;
    margin-bottom: 1rem;

    .timer{
        margin: 0 5px;
        font-size: 2em;
        text-align: 'center';
    }

    .controls{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        button{
            margin: 5px 0;
            width: 95%;
        }

        
        @include md{
            flex-flow: row nowrap;
            
            button{
                margin: 5px 2.5px;
            }
        }
    }


}