@use "/public/stylesheets/base";

:root{
  --background-primary: #fff;
  --background-secondary: #dfdfdf;
  --background-tertiary: #b8b8b8;
  --text-primary: #222;
  --text-secondary: #333;
  --border: 5px solid black;
  --button-color: #eee;
  --button-text-color: var(--text-primary);
}


body[data-theme = 'dark'] {
  --background-primary: #1b1b1b;
  --background-secondary: #6f6f6f;
  --background-tertiary: #616161;
  --text-primary: #ddd;
  --text-secondary: #eee;
  --border: 5px solid white;
  --button-color: #222;
  --button-text-color: var(--text-primary);
}

.no-mar-pad{
  padding: 0;
  margin: 0;
}

html, body{
  @extend .no-mar-pad;
  background-color: var(--background-primary);
  color: var(--text-primary);
  box-sizing: border-box;
}

#root {
  @extend .no-mar-pad;
  max-width: 100vw;
  text-align: center;
}

button{
  background-color: var(--button-color);
  color: var(--button-text-color);
}